<div class="group-header">
	<div class="bg"></div>
	<div class="overlay"></div>
	<h1>{{ theRollingStonesCtrl.title }}</h1>
</div>
<div class="cnt">
	<div class="text">
		<h2>los más nuevos creadores de <br>éxitos  en Reino Unido</h2>
		<p>The Rolling Stones es una banda británica de rock originaria de Londres. La banda se fundó en abril de 19622 por Brian Jones, Mick Jagger, Keith Richards, Bill Wyman, Ian Stewart y Charlie Watts.2 Brian Jones fue despedido en junio de 1969, falleciendo tres semanas después, siendo reemplazado por el guitarrista Mick Taylor, que dejaría el grupo en 1975 y sería a su vez reemplazado por Ron Wood. Con el retiro de Bill Wyman en 1993 se incluyó al bajista Darryl Jones que, aunque toca con la banda desde la grabación del álbum Voodoo Lounge en 1994, no es un miembro oficial.</p>
		<p>Son considerados una de las más grandes e influyentes bandas de toda la historia del rock,3 siendo la agrupación que sentó las bases del rock contemporáneo.4 5 6 Contando desde sus inicios con el favor de la crítica, algunos de sus materiales están considerados entre los mejores de todos los tiempos;7 8 9 10 entre ellos destacan Beggars Banquet (1968), Let It Bleed (1969), Sticky Fingers (1971) y quizá su mejor obra, Exile on Main St. (1972).nota 1 En 1989 fueron incluidos en el Salón de la Fama del Rock and Roll, y en 2004 la revista estadounidense Rolling Stone los colocó en el puesto No. 4 en su lista de Los 50 Mejores Artistas de todos los Tiempos.11 Ningún grupo de rock hasta la fecha ha sostenido tan duradera y todavía mundialmente reconocida trayectoria como The Rolling Stones; con Jagger, Richards y Watts como miembros fundadores en activo, continúan siendo la banda más longeva de la historia del rock.6</p>
	</div>
	<div class="video">
		<iframe width="100%" height="400px" src="https://www.youtube.com/embed/vC0Qt1lvLq8" frameborder="0" allowfullscreen></iframe>
	</div>
</div>



